
@{
    ViewData["Title"] = "Fish";
}

<h2>Fish</h2>

<form method="post" action="result">
    <p>Name:</p>
    <input type="text" name="UserName" />

    <p>Price:</p>
    <input type="number" name="Price" />

    <p>Quantity:</p>
    <input type="number" name="Quantity" />

    <p>Description:</p>
    <input type="text" name="Description" />

    <input type="submit" />
</form>