<form method="post" action="result">
    <p>User Name:</p>
    <input type="text" name="UserName"/>

    <p>Email:</p>
    <input type="email" name="Email"/>

    <p>Phone Number:</p>
    <input type="number" name="Phone Number"/>

    <p>Password:</p>
    <input type="password" name="Password"/>

    <input type="submit"/>
</form>
